################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Drzewiaste/__pycache__
/__pycache__
/Drzewiaste/Drzewiaste/.vs/Drzewiaste/v16
/Drzewiaste/Drzewiaste/Debug
/metaheurystyka/__pycache__
/metaheurystyka/test.py
